/* ==== BOX Panel ==== */
#toolbox_panel{
    width: 4096px;
    height: 4096px;
    position: fixed;
    margin: 0 auto;
    background: rgba(214, 153, 255, 0);
    z-index: -1;
    float: left;
}

.box_content_div{
    visibility:visible;
}

#box_file {
    /* float: left; */
    position: fixed;
    background: rgb(66, 63, 255);
    border-style: double;
    left: 100px;
    width: 220px;
    height: 350px;
    z-index: 1;
    display: inline-block;
    background-image: -webkit-linear-gradient(top,rgb(113, 139, 255) 0, rgb(255, 255, 255) 100%);
}

#box_hotkey {
    position: fixed;
    background: rgb(226, 255, 63);
    border-style: double;
    left: 100px;
    width: 150px;
    height: 620px;
    z-index: 1;
    display: inline-block;
    background-image: -webkit-linear-gradient(top,rgb(255, 177, 59) 0, rgb(255, 255, 255) 100%);
}

#box_color {
    font-size: 10;
    position: fixed;
    background: rgb(125, 188, 248);
    border-style: double;
    left: 100px;
    width: 380px;
    height: 220px;
    z-index: 1;
    display: inline-block;
    background-image: -webkit-linear-gradient(top,rgb(255, 177, 59) 0, rgb(255, 255, 255) 100%);
}

#box_pen {
    font-size: 10;
    position: fixed;
    background: rgb(99, 255, 133);
    border-style: double;                                                           
    left: 100px;
    width: 280px;
    height: 350px;
    z-index: 1;
    display: inline-block;
    background-image: -webkit-linear-gradient(top,rgb(255, 177, 59) 0, rgb(255, 255, 255) 100%);
}

#box_filter {
    border-radius: 10px;
    background: rgb(77, 80, 255);
    border-style: double;
    left: 100px;
    width: 200px;
    height: 550px;
    z-index: 1;
    display: inline-block;
    background-image: -webkit-linear-gradient(top,rgb(255, 177, 59) 0, rgb(255, 255, 255) 100%);
}

#box_photo_view {
    border-radius: 10px;
    background: rgb(253, 185, 108);
    border-style: double;
    left: 100px;
    width: 500px;
    height: 600px;
    z-index: 1;
    display: inline-block;
    background-image: -webkit-linear-gradient(top,rgb(75, 232, 253) 0,rgb(255, 255, 255) 100%);
}

#box_channel_view {
    border-radius: 10px;
    background: rgb(253, 185, 108);
    border-style: double;
    left: 100px;
    width: 250px;
    height: 200px;
    z-index: 1;
    display: inline-block;
    background-image: -webkit-linear-gradient(top,rgb(75, 232, 253) 0,rgb(255, 255, 255) 100%);
}

#box_clipboard {
    border-radius: 10px;
    background: rgb(130, 77, 255);
    border-style: double;
    left: 100px;
    width: 200px;
    height: 480px;
    z-index: 1;
    display: inline-block;
    background-image: -webkit-linear-gradient(top,rgb(255, 177, 59) 0, rgb(255, 255, 255) 100%);
}

#box_patterns {
    border-radius: 10px;
    background: rgb(130, 77, 255);
    border-style: double;
    left: 100px;
    width: 380px;
    height: 480px;
    z-index: 1;
    display: inline-block;
    background-image: -webkit-linear-gradient(top,rgb(255, 177, 59) 0, rgb(255, 255, 255) 100%);
}

#box_audio {
    /* float: left; */
    position: fixed;
    /* text-align: center; */
    background: rgb(233, 204, 204);
    border-style: double;
    left: 100px;
    width: 380px;
    height: 130px;
    z-index: 1;
    max-height: 100%;
    /* height: 100%;  */
    object-fit: contain;
    display: inline-block;
    background-image: -webkit-linear-gradient(top,rgb(235, 250, 98) 0,rgb(255, 255, 255) 100%);
}


#box_taptap {
    /* float: left; */
    position: fixed;
    /* text-align: center; */
    background: rgb(233, 204, 204);
    border-style: double;
    left: 100px;
    width: 280px;
    height: 200px;
    z-index: 1;
    max-height: 100%;
    /* height: 100%;  */
    object-fit: contain;
    display: inline-block;
    background-image: -webkit-linear-gradient(top,rgb(235, 250, 98) 0,rgb(255, 255, 255) 100%);
}

#box_info {
    border-radius: 10px;
    background: rgb(253, 185, 108);
    border-style: double;
    left: 100px;
    width: 200px;
    height: 510px;
    z-index: 1;
    display: inline-block;
    background-image: -webkit-linear-gradient(top,rgb(75, 253, 84) 0,rgb(255, 255, 255) 100%);
}

#select_chords {
    background: rgb(243, 237, 255);
    border-style: double;
    border-radius: 10px;
}


#box_navigation{
    border-radius: 10px;
    /* background: rgb(253, 185, 108); */
    border-style: double;
    left: 100px;
    width: 300px;
    height: 150px;
    z-index: 1;
    display: inline-block;
    /* background-image: -webkit-linear-gradient(top,rgb(75, 253, 84) 0,rgb(255, 255, 255) 100%); */
}

