

.radio {
    /* outline:1px solid red; */
    cursor: pointer;
    border-radius: 10px;
}

#upload_lightshow{
    /* width:100px; */
    size:100;
    border-radius: 10px;
}

#wrap {
    width: 280px;
    height: 100px;
}

.labelBtn {
    cursor: pointer;
}

#div1, #div2, #div3{
    background-color: rgb(255, 255, 167);
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    /* padding: 2px; */
    width:100%;
}

toolbox {            
    position: fixed;
    left: 1em;
    top: 1em;
    /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 200px;
    background: rgba(255, 255, 255, 0.66);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 8px;
    display: inline-block;
}

#timeline {
    width: 400px;
    border-radius: 10px;
}

body {
    /* background-color: ivory; */
    background-color: rgb(92, 91, 91);
    /* overflow-x: hidden; */
    border-radius: 10px;
}

#current_color{
    border-radius: 10px;
}

/* span {
    position: fixed;
    float: left;
    width: 400px;
    height: 250px;
    border-radius: 10px;
} */

#title {
    left: 1em;
    top: 1em;
    position: fixed;
    border-radius: 10px;
}

#bpm {
    /* width: 250px; */
    display: inline-block;
    width:100%;
}

#canvasOutput {
    background: rgb(0, 0, 0);
    /* border-radius: 1px; */
    /* border-style: double; */
	width: auto; 
	height: auto; 
	max-width: 100%;
    max-height: 100%;	
    /* width: 100%;
    padding-bottom: 100%; */
    
}


#clipboard_panel {
    background-color: rgba(248, 110, 110, 0);
    /* display: inline-block; */
    /* border: 2px solid rgba(0, 0, 0, 0.5); */
    /* border-radius: 5px; */
    /* padding: 5px; */
    /* height: 100%;          */
    /* padding-bottom: 100%;  */
    /* padding: 50px; */

    /* width:100%;  */
    /* height:100%;   */
    /* width: auto; */
	/* height: auto; */

    /* display: flex;           */
    /* height: 300px; */
    text-align: center;     
    /* align-items: center;     */
    /* padding-bottom: 80%;  */
}

#clipboard_wrap {
    background-color: rgb(247, 154, 255);
    /* display: inline-block; */
    /* border: 2px solid rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    /* padding: 5px; */
    width:100%;
    height:100%;  
    /* width: auto;
	height: auto; */

    display: flex;          
    /* height: 300px; */
    /* align-items: center;    */
}

#current_color {
    padding: 5px;
    width: 60px;
    height: 60px;
    border: 2px solid #000000;
    background: rgba(255, 255, 255, 255);
    cursor: pointer;
    border-radius: 10px;
    float: left;
}

.btn {
    padding: 5px;
    border: 2px solid #000000;
    size:50px;
    border-radius: 10px;
    cursor: pointer;
}

.color_NNN {
    border-radius: 4px;
    padding: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    /* background: rgba(255, 255, 255, 255); */
    cursor: pointer;
    float: left;
}

#color_0 {
    /* padding: 2px;
    width: 25px;
    height: 25px; */
    /* border: 2px solid #2f00ff; */
    background: rgba(255, 255, 255, 255);
    cursor: pointer;
    /* float: left; */
}

#color_1 {
    /* padding: 2px;
    width: 25px;
    height: 25px;
    border: 2px solid #2f00ff; */
    background: rgba(225, 225, 225, 255);
    cursor: pointer;
    /* float: left; */
}

#color_2 {
    /* padding: 2px;
    width: 25px;
    height: 25px;
    border: 2px solid #2f00ff; */
    background: rgba(200, 200, 200, 255);
    cursor: pointer;
    /* float: left; */
}

#color_3 {
    /* padding: 2px;
    width: 25px;
    height: 25px;
    border: 2px solid #2f00ff; */
    background: rgba(175, 175, 175, 255);
    cursor: pointer;
    /* float: left; */
}

#color_4 {
    /* padding: 2px;
    width: 25px;
    height: 25px;
    border: 2px solid #2f00ff; */
    background: rgba(150,150,150, 255);
    cursor: pointer;
    /* float: left; */
}

#color_5 {
    /* padding: 2px;
    width: 25px;
    height: 25px;
    border: 2px solid #2f00ff; */
    background: rgba(125,125 ,125 , 255);
    cursor: pointer;
    /* float: left; */
}

#color_6 {
    /* padding: 2px;
    width: 25px;
    height: 25px;
    border: 2px solid #2f00ff; */
    background: rgba(100, 100, 100, 255);
    cursor: pointer;
    /* float: left; */
}

#color_7 {
    /* padding: 2px;
    width: 25px;
    height: 25px;
    border: 2px solid #2f00ff; */
    background: rgba(75, 75, 75, 255);
    cursor: pointer;
    /* float: left; */
}

#color_8 {
    /* padding: 2px;
    width: 25px;
    height: 25px;
    border: 2px solid #2f00ff; */
    background: rgba(50, 50, 50, 255);
    cursor: pointer;
    /* float: left; */
}

#color_9 {
    /* padding: 2px;
    width: 25px;
    height: 25px;
    border: 2px solid #2f00ff; */
    background: rgba(25, 25, 25, 255);
    cursor: pointer;
    /* float: left; */
}

#color_10 {
    /* padding: 2px;
    width: 25px;
    height: 25px;
    border: 2px solid #2f00ff; */
    background: rgba(0, 0, 0, 255);
    cursor: pointer;
    /* float: left; */
}

#ch1 {
    background: rgba(0,0 0, 255);
    padding: 0px;
    border-style: none;
}

#ch2 {
    background: rgba(0,0 0, 255);
    padding: 0px;
    border-style: none;
}

#ch3 {
    background: rgba(0,0 0, 255);
    padding: 0px;
    border-style: none;
}

#ch4 {
    background: rgba(0,0 0, 255);
    padding: 0px;
    border-style: none;
}

#ch5 {
    background: rgba(0,0 0, 255);
    padding: 0px;
    border-style: none;
}

#ch6 {
    background: rgba(0,0 0, 255);
    padding: 0px;
    border-style: none;
}


#track {
    position: fixed;
    margin: 0 auto;
}

#cursorCanvas {
    position: absolute;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}

#cursorRightCanvas {
    position: absolute;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}

#gridCanvas {
    position: relative;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}

#gridCanvas:active {
    cursor: crosshair;
}

#lightCanvas {
    position: absolute;
    cursor: default;
    background: rgb(0, 0, 0);
}

#lightCanvas:active {
    cursor: default;
}



.player_button {
    border-radius: 10px;
    background-color: #4caf4f;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  /* padding: 15px 32px; */
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
    width: 70px;
    height: 70px; 
  /* font-size: 16px; */
  /* margin: 4px 2px; */
    cursor: pointer;
}

#loading{
    /* position: fixed;  */
    visibility: hidden ;
    width:400px;
    height:300px;
    background-color: rgba(255, 255, 167, 0);
    border:none;
    /* border: 2px solid rgba(0, 0, 0, 0); */
    border-radius: 10px;
    /* padding: 2px; */
    z-index: 1000;
}

.loading_img{
    /* display: inline-block; */
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    /* clip:rect(200,700,500,200); */
    /* object-fit: contain; */
}

.dotted-border { 
    border: dotted;  
    
    width: 800px;
    height: 600px;
 }

 /* #photoView_Img { */
     /* width: 320px;
     height: 240px; */
 /* } */


.photoView_canvas-wrapper {
    position: relative;
    border-radius: 10px; 
    /* max-width: 100%; */
    /* max-height: 100%; */
    width: 480px;
    height: 360px; 
    /* border: 1px solid black; */
  }

  #photoView_BGCanvas {
    /* margin: 0 auto; */
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    top: 0px;
    left: 0px;
    /* width:320px; */
    /* height:240px; */
  }

  #photoView_FGCanvas {
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 7;
  }

  .photoView_CH_Canvas {
    border-radius: 10px;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    position: absolute;
  }
  
  
  .photoView_Canvas {
    position: absolute;
  }

  .btn.selected {
    color:red;
  }

  .btn.active { 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
    background-color: rgb(252, 238, 47);
    /* color: white; */
}

.chCheck{
    cursor: pointer;
}


.pattern_btn{
    /* display: flex; */
    cursor: pointer;
    /* float: left;  */
    width: 50px; 
    height: 50px; 
    margin: 4px;
}


.zoom-in {
    transform: scale(1.25);
    /* cursor: zoom-out; */
    cursor: pointer;
    transition: transform 250ms;
    /* border-style: double; */
    border: 2px solid rgb(255, 0, 0);
}

.normal-zoom {
    transform: scale(1);
    /* cursor: zoom-in; */
    cursor: pointer;
    transition: transform 250ms;
}

.pattern_active {
    border: 2px solid rgb(43, 255, 0);
}